* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', Helvetica, sans-serif;

}



.events-grid {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 3.2fr;
    grid-gap: 2rem;
    grid-auto-rows: 18rem auto;
}

@media (max-width: 800px) {


    .events-grid {
        grid-gap: 1rem;
        grid-auto-rows: 22rem auto;
        grid-template-columns: 1fr;


    }
}